{% extends "base.html" %}
{% block title %}Admin{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}
<section id="tabs" class="project-tab">
	<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg order-lg-first">
					<nav>
						<div class="nav nav-tabs nav-fill border-0 flex-column flex-lg-row" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-sportsman-tab" data-toggle="tab" href="#nav-sportsman" role="tab" aria-controls="nav-sportsman" aria-selected="true">Спортсмены</a>
							<a class="nav-item nav-link" id="nav-competition-tab" data-toggle="tab" href="#nav-competition" role="tab" aria-controls="nav-competition" aria-selected="false">Соревнования</a>
							<a class="nav-item nav-link" id="nav-results-tab" data-toggle="tab" href="#nav-results" role="tab" aria-controls="nav-results" aria-selected="false">Результаты</a>
							<a class="nav-item nav-link" id="nav-judges-tab" data-toggle="tab" href="#nav-judges" role="tab" aria-controls="nav-judges" aria-selected="false">Судьи</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-sportsman" role="tabpanel" aria-labelledby="nav-sportsman-tab">
			<div class="my-3 my-md-5">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<p class="text-justify">asd</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-competition" role="tabpanel" aria-labelledby="nav-competition-tab">
			<div class="my-3 my-md-5">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<p class="text-justify">fff</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
