{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Giri</a>
            <table>
                <tr>
                    <td><a href="/judge/">Судья</a></td>
                    <td><a href="/operator/">Оператор</a></td>
                    <td><a href="/administrator/">Администратор</a></td>
                </tr>
            </table>
            <table>
                <tr>
                    <div class="container-fluid" style="padding-top: 30px">
                    <form method="POST" action="/">
                    {% csrf_token %}
                    <input type="text" name="login" placeholder="Login" />
                    <input type="text" name="password" placeholder="Password" />
                    <input type="submit" value="Войти" name="signin">
                    </form>
</div>     
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

<!--img src="{% static "static/1.png" %}"-->
<div class="container-fluid" style="padding-top: 30px">
    <form method="POST" action="/">
        {% csrf_token %}
        <input type="text" name="nsp" placeholder="Введите ФИО участника" />
        <input type="submit" value="Найти" name="find">
    </form>
</div>     

<div class="contaimer-fluid" style="padding-top: 30px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>
                    {% if sportsmens.count > 0 %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <h2>Список спортсменов</h2>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td>Регион</td>
                                <td>День рождения</td>
                                <td>Категория</td>
                            </tr>
                        </thead>

                        {% for sportsmen in sportsmens %}                     
                        <tbody>
                            <tr>
                                {% for result in results %}
                                {% if result.sportsmenid.id == sportsmen.id %}
                                <td>{{ sportsmen.surname }}</td>
                                <td>{{ sportsmen.name }}</td>
                                <td>{{ sportsmen.patronymic }}</td>
                                <td>{{ sportsmen.region }}</td>
                                <td>{{ sportsmen.dateofbirth }}</td>
                                <td>{{ sportsmen.category }}</td>
                                {% endif%}
                                {% endfor %}
                            </tr>
                        </tbody>
                        {% endfor %}

                    </table>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>    
</div>

{% endblock content %}
