<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Admin{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}


<form method="POST">
    {% csrf_token %}
    <button type="submit" formaction="/adduser/">Пользователи</button>
    <button type="submit" formaction="/sportsmens/">Спортсмены</button>
    <button type="submit" formaction="/judges/">Судьи</button>
    <button type="submit" formaction="/competitions/">Соревнования</button>
</form>


<table>
    <tr>
        <td>
            <form method="POST">
                {% csrf_token %}
                <p>
                    <table border="1">
                        <h2>Таблца Cудья</h2>
                            <tr>
                            <td><label>Фамилия судьи</label></td>
                            <td><input type="text" name="judgesurname" /></td>
                        </tr>                            <tr>
                            <td><label>Имя судьи</label></td>
                            <td><input type="text" name="judgename" /></td>
                        </tr>
                        <tr>
                            <td><label>Отчество судьи</label></td>
                            <td><input type="text" name="judgepatronymic" /></td>
                        </tr>
                    </table>
                <input type="submit" value="Сохранить"  name="submit3">
                </p>
            </form>                     
        </td>
    </tr>
</table>

{% if judges.count > 0 %}
    <h2>Список судей</h2>
    <table border="1"> 
        <tr>
            <td>ID</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td></td>
        </tr>

        {% for judge in judges %}
        <tr>
            <td>{{ judge.id }}</td>
            <td>{{ judge.judgesurname }}</td>
            <td>{{ judge.judgename }}</td>
            <td>{{ judge.judgepatronymic }}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <p>
                    <input type="hidden" name="delete_jud" value={{ judge.id }}>
                    <input type="submit" value="Удалить" name="delete_judge">
                    </p>
                </form>
            </td>            
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock content %}
