{% extends "base.html" %}
{% block title %}Operator{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}

<table>
    <tr>
        <td>
            <form method="POST" >
                {% csrf_token %}
                <p>
                    <table border="1">
                        <h2>Таблца Спортсмен</h2>
                        <tr>
                            <td><label>Фамилия</label></td>
                            <td><input type="text" name="surname" /></td>
                        </tr>
                        <tr>
                            <td><label>Имя</label></td>
                            <td><input type="text" name="name" /></td>
                        </tr>
                        <tr>
                            <td><label>Отчество</label></td>
                            <td><input type="text" name="patronymic" /></td>
                        </tr>
                        <tr>
                            <td><label>Регион</label></td>
                            <td><input type="text" name="region" /></td>
                        </tr>
                        <tr>
                            <td><label>Категория</label></td>
                            <td><input type="text" name="category" /></td>
                        </td>
                        <tr>
                            <td><label>День рождения</label></td>
                            <td><input type="date" name="birthday" /></td>
                        </tr>
                    </table>
                <input type="submit" value="Сохранить" name="submit1">
                </p>
            </form> 
        </td> 
    </tr>
</table>


 {% if sportsmens.count > 0 %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <h2>Список спортсменов</h2>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td>Регион</td>
                                <td>День рождения</td>
                                <td>Категория</td>
                            </tr>
                        </thead>

                        {% for sportsmen in sportsmens %}                     
                        <tbody>
                            <tr>
                                <td>{{ sportsmen.surname }}</td>
                                <td>{{ sportsmen.name }}</td>
                                <td>{{ sportsmen.patronymic }}</td>
                                <td>{{ sportsmen.region }}</td>
                                <td>{{ sportsmen.dateofbirth }}</td>
                                <td>{{ sportsmen.category }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}

                    </table>
                    {% endif %}

{% endblock content %}