{% extends "base.html" %}
{% block title %}Главная{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}


{% block content %}
<div class="my-3 my-md-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Поиск по спортсмену</h3>
					</div>
					<div class="card-body">
						<div class="text-wrap">
							<p class="text-justify">Данная форма позволяет произвести поиск по базе данных спортсменов, 
							для того, чтобы узнать информацию о спортсмене, результатах и выступлений.
							</p>
							
						<form method="POST" action="/">
							{% csrf_token %}
							<div class="form-group">
								<label class="form-label">Фамилия</label>
								<input type="text" class="form-control" name="surname" placeholder="Иванов">
								<label class="form-label">Имя</label>
								<input type="text" class="form-control" name="name" placeholder="Иван">
								<label class="form-label">Отчество</label>
								<input type="text" class="form-control" name="patronymic" placeholder="Иванович">
							</div>
							<div class="card-footer text-right">
								<div class="d-flex">
									<a href="javascript:void(0)" class="btn btn-link">Сбросить</a>
									<button type="submit" class="btn btn-primary ml-auto" name="find">Показать</button>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">База данных спортсменов и результатов</h3>
				</div>
				<div class="card-body">
					<div class="text-wrap">
						<!-- DEBUG -->
						<p class="text-justify">Debug links:
						<a href="/judge/">Судья</a>
						<a href="/operator/">Оператор</a>
						<a href="/admin/">Администратор</a></p>
						<!-- DEBUG -->
							<form>
							{% if sportsmens.count > 0 %}
							<table class="table table-bordered">
							<thead>
								<tr>
									<td>Фамилия</td>
									<td>Имя</td>
									<td>Отчество</td>
									<td>Регион</td>
									<td>День рождения</td>
									<td>Категория</td>
								</tr>
							</thead>
							{% for sportsmen in sportsmens %}                     
							<tbody>
								<tr>
									{% for result in results %}
									{% if result.sportsmenid.id == sportsmen.id %}
									<td>{{ sportsmen.surname }}</td>
									<td>{{ sportsmen.name }}</td>
									<td>{{ sportsmen.patronymic }}</td>
									<td>{{ sportsmen.region }}</td>
									<td>{{ sportsmen.dateofbirth }}</td>
									<td>{{ sportsmen.category }}</td>
									{% endif%}
									{% endfor %}
								</tr>
							</tbody>
							{% endfor %}
						</table>
						{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="tabs">
	<div class="container">
		<h6 class="section-title h1">Tabs</h6>
		<div class="row">
			<div class="col-xs-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
						<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
					</div>
					<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
						Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>

{% endblock content %}
