{% extends "base.html" %}
{% block title %}Главная{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}

<!--вывод информации о спортсмене и результатах соревнований-->

<div class="my-3 my-md-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					{% csrf_token %}
					<div class="card-body">
						<div class="card-body text-center">
							<h3 class="mb-3">
								{{sportsmenid.surname}} 
								{{sportsmenid.name}} 
								{{sportsmenid.patronymic}}
							</h3>
							<p class="mb-4">
								Категория: {{sportsmenid.category}}
							</p>
							<p class="mb-4">
								Регион: {{sportsmenid.region}}
							</p>
							<p class="mb-4">
								День рождения: {{sportsmenid.dateofbirth}}
							</p>
						</div>

				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Результаты</h3>
				</div>
					<div class="table-responsive">
					<!--  -->
					
					<!-- ТАБЛИЦА -->
					
					<table class="table table-hover table-outline table-vcenter text-nowrap card-table">
						<thead>
						<tr>
							<th>Дата</th>
							<th>Место проведения</th>
							<th>Статус</th>
							<th>Результат</th>
						</tr>
						</thead>                   
						<tbody>
						{% for result in results %}
						<tr>
							<td>{{ result.competitionid.date }}</td>
							<td>{{ result.competitionid.id }} ({{ result.competitionid.place }})</td>
							<td>{{ result.competitionid.status }}</td>
							<td>{{ result.result }}</td>          
						</tr>
						{% endfor %}
						</tbody>
					</table>


					<!-- ТАБЛИЦА -->
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
